.App {
  text-align: justify;
  margin-top: 110px;
}

.App-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

.App-footer {
  height: 35px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #6d034b;
  color: #fff;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 130px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

.container {
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

h1 {
  color: #6d034b;
}

article h1 {
  margin: 1rem 0;
}

.company-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
